[submodule "mediawiki"]
	path = mediawiki
	url = https://gerrit.wikimedia.org/r/p/mediawiki/core.git
[submodule "specialization/extensions/GoogleLogin"]
	path = specialization/extensions/GoogleLogin
	url = https://git.wikimedia.org/git/mediawiki/extensions/GoogleLogin.git
[submodule "specialization/extensions/GoogleAPIClient"]
	path = specialization/extensions/GoogleAPIClient
	url = https://git.wikimedia.org/git/mediawiki/extensions/GoogleAPIClient.git
[submodule "specialization/extensions/MarkdownExtraParser"]
	path = specialization/extensions/MarkdownExtraParser
	url = https://github.com/Rican7/MediaWiki-MarkdownExtraParser
